.container {
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.formContainer {
    display: flex;
    gap: 5px;
}
mat-form-field {
    width: 50%;
}
app-user-stats {
    width: 49%;
}