.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

/* button {
    width: 150px;
} */

p {
    font-size: medium;
}

.team {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sameBackground {
    background-color: rgb(114, 184, 255);
}

mat-form-field {
    width: 100%;
}

.warningDouble {
    color: red;
}

.playerNumber {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.playerGoal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.playerGoal p {
    width: 70%;
}

.playerGoal button {
    width: 20px;
    height: 20px;
    aspect-ratio: 1;
}

.buttonBlock {
    display: flex;
    gap: 10px;
}

/* .adminPicker{
    width: 95%;
} */

@media screen and (max-width: 450px) {
    /* .team {
        width: 100%;
    } */
    .playerGoal{
        flex-direction: column;
    }
    .playerGoal p {
        width: 100%;
        text-align: center;
    }
    .buttonBlock{
        width: 80%;
    }
}