<div class="login-card">
    <form class="form-container" [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Mario79">
            @if (form.hasError('username') && !form.hasError('required')) {
            <mat-error>Inserire username valido</mat-error>
            }
            @if (form.hasError('required')) {
            <mat-error>L'username é <strong>richiesto</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            @if (form.hasError('email') && !form.hasError('required')) {
            <mat-error>Inserire una email valida</mat-error>
            }
            @if (form.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
            }
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            @if (form.hasError('password') && !form.hasError('minlength')) {
            <mat-error>Password troppo corta</mat-error>
            }
            @if (form.hasError('required')) {
            <mat-error>Una password é <strong>obbligatoria</strong></mat-error>
            }
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="signup()" [disabled]="!form.valid">Registrati</button>
    </form>
    <p>Sei registrato? Fai il <a class="link" (click)="goToLogin()">Login</a></p>
</div>